<section name="chat" class="chat-container">
    <div class="chat">
        @if (!messages.length) {
            <h1>
                <span>Insurance Assistant</span>
                <br />
                <span class="assistant-question">How can I help you today?</span>
            </h1>
        }

        <div class="conversation-container">
            <div class="conversation">

                @for (message of messages; track i; let i = $index) {
                    <div class="message"
                        #message
                        [ngClass]="{'human': message.type === 'human', 'bot': message.type === 'bot'}">

                        @switch (message.type) {
                            @case ('human') {
                            <img class="avatar" src="./assets/human-avatar.png" alt="Human Avatar" width="36px" height="36px" />
                            }
                            @case ('bot') {
                            <img class="avatar" src="./assets/bot-avatar.png" alt="Bot Avatar" width="36px" height="36px" />
                            }
                            @case ('loading') {
                            <img class="avatar" src="./assets/loading-icon.gif" alt="Human Avatar" width="36px" height="36px" />
                            }
                        }

                        <markdown class="content" [data]="message.text"></markdown>
                    </div>
                }

            </div>
        </div>

        <form class="input" [formGroup]="messageForm" (ngSubmit)="submitForm()">
            <mat-form-field class="question-field">
                <mat-label>Ask a question...</mat-label>
                <input autofocus matInput placeholder="Ex. Does my car insurance cover mechanical damage?" formControlName="text">
           </mat-form-field>
            <mat-button-toggle-group class="rag-toggle" formControlName="rag" aria-label="RAG">
                <mat-button-toggle [value]="true">RAG</mat-button-toggle>
                <mat-button-toggle [value]="false">No RAG</mat-button-toggle>
            </mat-button-toggle-group>
        </form>
    </div>
</section>
