<section name="chat" class="chat-container">
    <div class="chat">
        <div class="conversation">
            <div class="message">
                <span class="content">Hello!</span>
            </div>
            <div class="message">
                <span class="content">Hi there!</span>
            </div>
        </div>

        <form class="input" [formGroup]="messageForm" (ngSubmit)="submitForm()">
            <input type="text" placeholder="Type a message..." formControlName="text" label="text message" />
            <button class="send" type="submit" [disabled]="messageForm.invalid">Send</button>
        </form>
    </div>
</section>